* {
	padding: 0;
	margin: 0;
	font-family: Arial;
}

#top {
	width: 100%;
	text-align: center;
	padding: 20px 0 20px 0;
	border-width: 1px;
	border-bottom-style: solid;

}

#top #title{
	text-decoration: none;
	color: black;
	height: 36px;
	font-size: 32px;
	font-weight: bold;
	display: inline-block;
}

#top form {
	height: 36px;
	line-height: 36px;
	vertical-align: top;
	display: inline-block;
	font-size: 18px;
	margin-left: 46px;
}

#top form input[type="text"], [type="password"] {
	width: 100px;
}

#search {
	font-size: 24px;
	font-weight: bold;
	display: block;
	text-align: center;
	margin: 20px 0 20px 0;
}

#search-results {
	text-align: center;
}
