* {
	padding: 0;
	margin: 0;
	font-family: Arial;
}

/* base.html */

header {
	text-align: center;
	padding: 20px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

header a {
	text-decoration: none;
	color: black;
	font-size: 32px;
	font-weight: bold;
}

nav {
	background-color: pink;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: center;
	padding: 10px 0;
}

nav ul {
	font-size: 0;
	list-style-type: none;		
}

nav ul li {
	display: inline;
}

nav ul li a {
	font-size: 24px;
	text-decoration: none;
	color: black;
	padding: 10px;

}

#content {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

footer {
	text-align: center;
	padding: 10px 0;
}

/* character.html */

#character {
	text-align: center;
	font-size: 18px;
	color: white;
	background-color: grey;
}

#character #search {
	padding: 20px 0;

}

#character #search-results {
	padding: 10px 0;
}

#character #search-fail {
	padding: 10px 0;
}

#session {
	border-top: thin black solid;
}

#weapons {
	border-top: thin black solid;
}

#weapons table {
	margin: 0 auto;
}

#weapons table th, td {
	text-align: center;
	padding: 10px;
}

/* account.html */

#sign-up {
	text-align: center;
	padding-top: 20px;
	font-size: 18px;
}

#sign-up p {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
}

#log-in {
	text-align: center;
	padding: 10px 0 20px;
	font-size: 18px;
}

#log-in p {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 10px;
}

#log-out {
	text-align: center;
	font-size: 18px;
}

#log-out form {
	padding: 20px 0;
}
