{% extends 'base.html' %}

{% block title %}
	Characters
{% endblock %}

{% block content %}
	<div id="character">
		<div id="search">
			<form>
				<label for="name">Character Name: </label>
				<input type="text" id="name" name="name" value="{{ request.args.name }}"> 
			</form>
		</div>
		{% if char %}
		<div id="search-results">
			<p id="name">{{ char.name }}</p>
			<p id="id">{{ char.cid }}</p>
			<p id="faction">{{ char.fac }}</p>
			<p id="time">{{ '{:0.1f}'.format(char.time|int / 60) }} hours played</p>
			<p id="rank">Rank: {{ char.rank }}</p>
			<p id="pres">Prestige: {{ char.pres }}</p>
		</div>
		<script>
			let character = document.getElementById("character");
			let search = document.getElementById("search");
			let faction = document.getElementById("faction").innerHTML;
			search.style.paddingBottom = "0px";
			if (faction === "VS") {
				character.style.backgroundColor = "purple"
			} else if (faction === "NC") {
				character.style.backgroundColor = "blue"
			} else if (faction === "TR") {
				character.style.backgroundColor = "red"
			}
		</script>
		{% elif request.args.name %}
		<p id="search-fail">Not found</p>
		<script>
			let search = document.getElementById("search");
			search.style.paddingBottom = "0px";
		</script>
		{% endif %}
	</div>
	{% if char %}
	<div id="session">
		<form method="get" action="/character/">
			<input type="reset" value="start session">
		</form>

	</div>
	<div id="weapons">
		<table>
			<tr>
				<th>Name</th>
				<th>Kills</th>
				<th>Deaths</th>
				<th>Accuracy</th>
				<th>HSR</th>
			</tr>
		{% for gun in char.guns %}
			<tr>
				<td>{{ gun.name }}</td>
				<td>{{ gun.kills }}</td>
				<td>{{ gun.deaths }}</td>
				<td>{{ '{:0>6.2%}'.format(gun.landed|int / gun.fired|int) }}</td>
				<td>{{ '{:0>6.2%}'.format(gun.headshots|int / gun.kills|int) }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
{% endblock %}
