<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">

<div id="top">
	<a href="/">PLANETSIDE SEARCH</a>

	<form>
		<label for="user">User: </label><input type="text">
		<label for="password">Password: </label><input type="password">
		<input type="submit" value="Search">
	</form>

</div>

<form id="search">
	Character Name: <input type='text' name='user'>
</form>

{% if char %}
	<h1 class="search-results">User: {{ char.name }}</h1>
	<h1 class="search-results">Character ID: {{ char.c_id }}</h1>
	<h1 class="search-results">Faction: {{ char.fac }}</h1>
	<ul class="search-list">
		{% for key, value in wep_list.items() %}
		<li><p>{{ value[0] }}: {{ value[2]|int / value[1]|int }}</p></li>

		{% endfor %}
	</ul>
{% elif status == 'usernotfound' %}
	<h1 class="error">ERROR USER NOT FOUND</h1>
{% endif %}

