<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">

<div id="top">
	<a id="title" href="/">PLANETSIDE SEARCH</a>
	{% if not 'user' in session %}
	<form method="post">
		<label for="user">User: </label><input type="text" name="login-user">
		<label for="password">Password: </label><input type="password" name="login-password">
		<input type="submit" value="Search">
	</form>
	{% else %}
	<p>{{ session['user'][0] }}</p>
	<a href="/logout">Log out</a>
	{% endif %}

</div>

<div id="middle">
	<form id="search">
		<label for="search">Character Name: </label><input type="text" name="user"
		{% if char %}
								 value="{{ char.name }}"
		{% endif %}
		>
	</form>
	{% if char %}
	<div id="search-results">
		<p>User: {{ char.name }}</p>
		<p>Character ID: {{ char.c_id }}</p>
		<p>Faction: {{ char.fac }}</p>
	</div>
	{% endif %}

	{% if status %}
		<p>{{ status }}</p>
	{% endif %}

</div>

{% if char %}
	<ul class="search-list">
		{% for key, value in wep_list.items() %}
		<li><p>{{ value[0] }}: {{ value[2]|int / value[1]|int }}</p></li>

		{% endfor %}
	</ul>
{% endif %}

