<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">

<h1 id="title"><a href="/">PLANETSIDE SEARCH</a></h1>

<form id="search">
	User: <input type='text' name='user'>
</form>

<form id="login" method="POST">
	User: <input type="text" name="login-user">
	Password: <input type="password" name="login-password">
	<input type="submit">
</form>

{% if char %}
	<h1 class="search-results">User: {{ char.name }}</h1>
	<h1 class="search-results">Character ID: {{ char.c_id }}</h1>
	<h1 class="search-results">Faction: {{ char.fac }}</h1>
	<ul class="search-list">
		{% for key, value in wep_list.items() %}
		<li><p>{{ value[0] }}: {{ value[2]|int / value[1]|int }}</p></li>

		{% endfor %}
	</ul>
{% elif status == 'usernotfound' %}
	<h1 class="error">ERROR USER NOT FOUND</h1>
{% endif %}

